<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mad.lab2">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@drawable/house"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/> -->
        <activity android:name=".MainActivity" />
        <activity android:name=".Items_activity" />
        <activity android:name=".members_activity" />
        <activity android:name=".new_item_activity" />
        <activity
            android:name=".login_new_user"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="example.com"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Autentification_old_user"
            android:label="@string/title_activity_autentification"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name=".Invite_Activity" />
        <activity android:name=".new_group_activity" />
        <activity android:name=".ModifyActivity" />
        <activity android:name=".ModifyItemActivity" />
        <activity
            android:name=".Navigation_drawer"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>